<div class="blocks-container">

  <div class="block standard scroll-to-block" data-id="contact">
    <div class="container">
      <div class="row page-tagline">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="title">Create Project</h2>
          <div class="description">Praesent at vestibulum tortor. Praesent condimentum efficitur massa, nec congue sem dapibus sed. Sed eget justo at erat suscipit tristique sit.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
          <div class="blog-post style-3">
            <div class="row">
              <div class="col-md-12" *ngIf="orgs.length >=1">
                <div class="data">
                  <div class="date"><span>{{orgRepos.length}}</span> repos</div>
                  <div class="text">
                    <div class="author-entry">
                      <a class="author-thumbnail"><img alt="" [src]="orgs[selectedOrgIndex].avatar_url" class="img-circle"></a>
                      <a class="title ml-20 mt-10">{{orgs[selectedOrgIndex].login}}</a>
                      <div class="clear"></div>
                    </div>

                    <div class="description">{{ orgs[selectedOrgIndex].description || orgs[selectedOrgIndex].bio }}</div>

                  </div>
                  <div class="clear"></div>
                </div>
                <div class="paginator" *ngIf="orgs.length > 1">
                  <div>
                    <a (click)="selectPrevOrg(selectedOrgIndex-1)" class="arrow-button"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span> Prev Account</a>
                    <a (click)="selectNextOrg(selectedOrgIndex+1)" class="arrow-button">Next Account <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>


            </div>
          </div>


        </div>
      </div>


      <div class="row" *ngIf="orgRepos.length > 0">
        <div class="col-md-8 col-md-offset-2">
          <div class="typography-article">
            <div class="table-responsive">
              <table class="table" infinite-scroll  (scrolled)="fetchSelectedOrgReposNextPage()" [infiniteScrollDisabled]="loading.fetchOrgRepos ||  orgReposAll">
                <tr>
                  <th>Name</th>
                  <th>Updated At</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let repo of orgRepos">
                  <td>{{repo.name}} </td>
                  <td>{{repo.updated_at| amTimeAgo}}</td>
                  <td>
                    <a class="button size-3 type-1" (click)="createProject(orgs[selectedOrgIndex].login, repo.name)"><span>Watch Project</span></a>
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <!-- FOOTER -->
  <capsule-footer></capsule-footer>



</div>

