<div class="blocks-container">

  <div class="block standard scroll-to-block" data-id="contact">
    <div class="container">
      <div class="row page-tagline">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="title">Publish Logs</h2>
          <div class="description">
            Track the status of your new release as it's published.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
            <div class="title">{{ alert?.title}}</div>
            {{ alert?.msg }}
          </alert>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-1 col-md-3">
          <div class="typography-article">
              <h3 class="widget-title">Info</h3>
              <ul class="list-style-3">
                  <li><strong>Repository:</strong> {{orgId + '/' + repoId}}</li>
                  <li><strong>Pull Request:</strong> {{prNumber}}</li>
                  <li><strong>Status:</strong> {{containerState.Status}} <span *ngIf="!containerState.Running">({{containerState.ExitCode}})</span></li>
                  <li><strong>Started:</strong> {{containerState.StartedAt | amTimeAgo}}</li>
                  <li *ngIf="!containerState.Running"><strong>Duration:</strong> {{containerState.FinishedAt | amDifference: containerState.StartedAt :'minutes'}} minutes</li>
              </ul>
          </div>
        </div>
        <!--<div class="col-md-6">-->
          <!--<div class="typography-article">-->
            <!--<h3 class="widget-title">Commits</h3>-->
            <!--<ul class="list-style-3">-->
              <!--<li>MP3, Ogg Vorbis or AAC can be used</li>-->
              <!--<li>48 kHz sample rate</li>-->
              <!--<li>16 bits per sample</li>-->
              <!--<li>2 channels for stereo audio</li>-->
              <!--<li>Audio bitrate 128-320Kbps</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->

      </div>


      <div class="row">
        <div class="col-lg-offset-1 col-lg-10">

            <!--http://codepen.io/simoami/pen/zstvo-->
            <!--http://codepen.io/jamesduncombe/pen/QNMapK-->
            <!--http://codepen.io/sthupukari/pen/VYjGpL-->
            <!--http://codepen.io/mahdi/pen/rOqpBJ-->
          <div class="terminal-window">
              <div class="term-header">
                  <div class="term-button green"></div>
                  <div class="term-button yellow"></div>
                  <div class="term-button red"></div>
                  <span *ngIf="containerState.Running" class="glyphicon glyphicon-repeat mt-5 fast-right-spinner pull-right"></span>

              </div>
              <section class="terminal">
                  <div class="history">
                    <div *ngFor="let log of logs">
                        <span [ngClass]="log.stream">{{log.line}}</span>
                    </div>
                  </div>
                  $&nbsp;<span class="prompt"></span>
                  <span class="typed-cursor"></span>

              </section>
          </div>
        </div>
      </div>


    </div>
  </div>

  <capsule-footer></capsule-footer>


</div>