<!-- FOOTER -->
<footer>

  <div class="footer-bottom">
    <div class="footer-linck">
      <a href="http://www.capsulecd.com">Home</a>
      <a href="#">Privacy Policy</a>
      <a href="http://blog.thesparktree.com">Blog</a>
    </div>
    <div class="media-icon">
      <a href="http://ca.linkedin.com/pub/jason-kulatunga/11/382/337"><img src="assets/img/social-icons/linkedin.png" alt=""/></a>
      <a href="#"><img src="assets/img/social-icons/googleplus.png" alt=""/></a>
      <a href="http://twitter.com/analogj"><img src="assets/img/social-icons/twitter.png" alt=""/></a>
    </div>
    <div class="copy">
      <span>© 2016 All rights reserved. CapsuleCD</span>
    </div>
  </div>
  <div class="back-to-top"><i class="fa fa-chevron-up"></i></div>
</footer>