/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* All - Utilities */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.ml-5 {
    margin-left:5px;
}

.ml-10 {
    margin-left:10px;
}

.ml-15 {
    margin-left:15px;
}

.ml-20 {
    margin-left:20px;
}

.ml-40 {
    margin-left:40px;
}



.mr-5 {
    margin-right:5px;
}

.mr-10 {
    margin-right:10px;
}

.mr-15 {
    margin-right:15px;
}

.mr-20 {
    margin-right:20px;
}

.mr-40 {
    margin-right:40px;
}


.mt-5 {
    margin-top:5px;
}

.mt-10 {
    margin-top:10px;
}

.mt-15 {
    margin-top:15px;
}

.mt-20 {
    margin-top:20px;
}

.mt-40 {
    margin-top:40px;
}

.mb-5 {
    margin-bottom:5px;
}

.mb-10 {
    margin-bottom:10px;
}

.mb-15 {
    margin-bottom:15px;
}

.mb-20 {
    margin-bottom:20px;
}

.mb-40 {
    margin-bottom:40px;
}

.block.standard {
    padding-bottom: 120px;
    background: #fff;
    -webkit-backface-visibility: hidden;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* All - Alert */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.alert{font-size: 14px; line-height: 24px; position: relative; margin-bottom: 30px;
    border-radius:0px;
}
.alert .title {
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'bold';
    position: relative;
}
.alert.alert-0{background: #fbc011; color: rgba(255, 255, 255, 0.8); box-shadow: 3px 4px 10px rgba(0,0,0,.1); padding: 30px;}
.alert.alert-0:before{width: 5px; height: 100%; position: absolute; left: 0; top: 0; content: ""; background: #daa508;}
.alert.alert-1{background: #222; color: #c9c9c9; box-shadow: 3px 4px 10px rgba(0,0,0,.1); padding: 30px;}
.alert.alert-1:before{width: 5px; height: 100%; position: absolute; left: 0; top: 0; content: ""; background: #000;}
.alert.alert-2{background: #fff; border: 5px #fbc011 solid; color: #fbc011; padding: 25px;}
.alert .close{opacity: 90; position: absolute; top: 10px; right: 10px; font-size: 25px; width: 20px; line-height: 20px; text-align: center; cursor: pointer; font-family: 'bold';}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* All - Spinner */
/*-------------------------------------------------------------------------------------------------------------------------------*/


.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

.glyphicon.slow-right-spinner {
    -webkit-animation: glyphicon-spin-r 3s infinite linear;
    animation: glyphicon-spin-r 3s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Auth Connect/Callback - Modal */
/*-------------------------------------------------------------------------------------------------------------------------------*/


.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.full-page-bg-wrapper{position: fixed; top: 0; right: 0; bottom: 0; left: 0;}
.full-page-bg {
    background: url('assets/img/bg-login1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width:100%
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Dashboard - Pull Request Panel */
/*-------------------------------------------------------------------------------------------------------------------------------*/


.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}

.pull-request-panel {
    margin-bottom: 20px;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    border-right: 1px #ddd solid;
    border-left: 1px #ddd solid;
}
.pull-request-panel.panel-horizontal {
    display:table;
    width:100%;
}
.pull-request-panel.panel-horizontal > .panel-heading, .pull-request-panel.panel-horizontal > .panel-body, .pull-request-panel.panel-horizontal > .panel-footer,  .pull-request-panel.panel-horizontal > .panel-empty {
    display:table-cell;
}
.pull-request-panel.panel-horizontal > .panel-heading, .pull-request-panel.panel-horizontal > .panel-footer {
    width: 25%;
    border:0;
    vertical-align: middle;
}

.pull-request-panel.panel-horizontal > .panel-empty {
    background-color: #f5f5f5;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    padding: 20px 15px;

}

.pull-request-panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;

}
.pull-request-panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0px;
}

.pull-request-panel.panel-horizontal .pr-date, .pull-request-panel.panel-horizontal .pr-user {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pull-request-panel.panel-horizontal .pr-number {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.pull-request-panel.panel-horizontal .pr-number a:hover {
    color: #fbc011;
}

.pull-request-panel.panel-horizontal .pr-user a:hover {
    color: #fbc011;
}

pre.pr-body {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-break: keep-all;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 10px;
    max-height: 300px;
}

.pull-request-panel .panel-body .button * {
    color: white;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Dashboard - Projects Panel */
/*-------------------------------------------------------------------------------------------------------------------------------*/


.categories-wrapper .entry a {
    color: #888;
    cursor: pointer;
}

.categories-wrapper .entry a:hover {
    color: #fbc011;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Project (Deploy/Edit) - Form */
/*-------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
    .project-form.form-horizontal .control-label {
        padding-top: 10px;
    }

     .project-form.form-horizontal input[type="password"], .project-form.form-horizontal input[type="text"], .project-form.form-horizontal input[type="email"], .project-form.form-horizontal select, textarea {
        margin:0px;
        width: 100%;
        border-radius: 0px;
    }
    .project-form.form-horizontal .typeahead-group {
        width: 100%;
    }
    .project-form.form-horizontal .typeahead-group .input-group-addon{
        border-radius: 0px;
    }

}

.project-form.form-horizontal select {
    background: #f8f8f8;
    height: 43px;
    color: #777777;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 0px;
}

.project-form.form-horizontal .button.type-1 * {
    color: #fbc011;
}
.project-form.form-horizontal .button.type-1:hover *{
    color: #fff;
}
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Project Create - Table */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.repo-table .button.type-1 * {
    color: #fbc011;
}
.repo-table .button.type-1:hover *{
    color: #fff;
}





/*-------------------------------------------------------------------------------------------------------------------------------*/
/*  Deploy Logs - Terminal */
/*-------------------------------------------------------------------------------------------------------------------------------*/


.terminal-window {
    text-align: left;
    height: 360px;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

.terminal-window .term-header {
    background: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
}

.terminal-window .term-header .term-button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
}

.terminal-window .term-header .term-button.green {
    background: #3BB662;
}

.terminal-window .term-header .term-button.yellow {
    background: #E5C30F;
}

.terminal-window .term-header .term-button.red {
    background: #E75448;
}

.terminal-window section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 11pt;
    background: #30353A;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto;
}

.terminal-window section.terminal .history span.stderr {
    color: #E75448;
}

.terminal-window section.terminal .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.terminal-data { display: none; }
.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}